@font-face
{
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    src: local('PT Serif'), local('PTSerif-Regular'), url(PT_Serif-Web-Regular.ttf) format('ttf');
}
@font-face
{
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    src: local('PT Serif Bold'), local('PTSerif-Bold'), url(PT_Serif-Web-Bold.ttf) format('ttf');
}
@font-face
{
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 400;
    src: local('PT Serif Italic'), local('PTSerif-Italic'), url(PT_Serif-Web-Italic.ttf) format('ttf');
}

body, html
{
	padding: 0px;
	margin: 0px;
	font-family: 'PT Serif', serif;
	color: #369;
	font-size: large;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	cursor: default;
}

#container
{
	max-width: 30em;
	margin-left: auto;
	margin-right: auto;
}

#events-scroll
{
	overflow-y: auto;
}

hr
{
	border: 0px;
	border-bottom: 1px solid #ccc;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 0.5em;
	margin-bottom: 0px;
}

.status
{
	color: #777;
	padding: 0.5em;
	text-align: center;
	position: relative;
	border-bottom: 1px solid #ccc;
}

.panel
{
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
}

.level1, .level2, .level3
{
	display: none;
}

#horizontal-scroll
{
	overflow-x: hidden;
	overflow-y: hidden;
	box-shadow: 0px 0px 2em rgba(0, 0, 0, 0.5);
	position: relative;
}

#horizontal
{
	position: absolute;
}

.items-scroll
{
	overflow-y: auto;
}

.items a
{
	display: block;
	padding: 0.5em;
	background-image: url(next.svg);
	background-repeat: no-repeat;
	background-position: right 1em center;
	cursor: pointer;
}

.level1 .items a.disabled, .level1 .items a.disabled:hover, .level1 .items a.disabled:active
{
	color: #777;
	background-image: none;
	cursor: default;
}

.items a:hover, .items a:active
{
	background-color: #369;
	color: #fff;
}

.items a.selected:not(.disabled)
{
	background-color: #000;
	background-image: url(selected.svg);
	color: #fff;
}

.items a.selected:hover:not(.disabled), .items a.selected:hover:not(.disabled)
{
	background-color: #777;
	background-image: url(remove.svg);
	color: #fff;
}

#events p
{
	padding: 0.5em;
	margin: 0px;
	color: #000;
}

.left
{
	position: absolute;
	left: 0.5em;
	top: 0.5em;
}

.back
{
	color: #369;
	cursor: pointer;
	background-image: url(back.svg);
	background-repeat: no-repeat;
	background-position: left 0.5em center;
	padding: 0.5em;
	padding-left: 1.5em;
}

.back:hover
{
	background-color: #369;
	color: #fff;
}

.next
{
	color: #369;
	cursor: pointer;
	background-image: url(next.svg);
	background-repeat: no-repeat;
	background-position: right 0.5em center;
	padding: 0.5em;
	padding-right: 1.5em;
}

.next:hover
{
	background-color: #369;
	color: #fff;
}

.right
{
	position: absolute;
	right: 0.5em;
	top: 0.5em;
}

.next.disabled
{
	visibility: hidden;
}

/* pie timer */

.pie
{
	transform-origin: 50% 50%;
	animation: rota 60s linear infinite;
	-webkit-animation: rota 60s linear infinite;
	-moz-animation: rota 60s linear infinite;
	animation-play-state: running;
	-webkit-animation-play-state: running;
	-moz-animation-play-state: running;
}

@keyframes rota
{
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@-webkit-keyframes rota
{
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@-moz-keyframes rota
{
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
