<!doctype html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		{% raw %}
		<script id="template-main-village" type="x-tmpl-mustache">
			{{ village.name }}<br />
			{{ village.grain }}&nbsp;grain
			{{ village.water }}&nbsp;H2O
			{{#village.waste}}{{ village.waste }}&nbsp;waste{{/village.waste}}
			{{#village.kwacha}}{{ village.kwacha }}&nbsp;kwacha{{/village.kwacha}}
			{{#village.huts}}{{ village.huts }} huts{{/village.huts}}
			{{ village.free_fields }}/{{ village.fields }}&nbsp;fields
			{{ wells }}&nbsp;wells
			{{#village.water_packs}}{{ village.free_water_packs }}/{{ village.water_packs }}&nbsp;H2O&nbsp;packs{{/village.water_packs}}
			{{#village.build_material}}{{ village.build_material }}&nbsp;building&nbsp;material{{/village.build_material}}
		</script>

		<script id="template-villages" type="x-tmpl-mustache">
			Neighbor villages ({{ villages }})
		</script>
		<script id="template-men" type="x-tmpl-mustache">
			Men ({{ idle_men }} idle / {{ men }} total)
		</script>
		<script id="template-women" type="x-tmpl-mustache">
			Women ({{ idle_women }} idle / {{ women }} total)
		</script>
		<script id="template-children" type="x-tmpl-mustache">
			Children ({{ idle_children }} idle / {{ children }} total)
		</script>

		<script id="template-village" type="x-tmpl-mustache">
			<a id="{{ id }}">{{ name }}</a>
		</script>
		<script id="template-man" type="x-tmpl-mustache">
			<a id="{{ id }}" class="{{#sick}}disabled{{/sick}}{{#state}} disabled{{/state}}">{{ name }} ({{ health }} hp) {{^state}} (idle){{/state}}{{#state}} ({{ state }}){{/state}}{{#sick}} (incapacitated){{/sick}}</a>
		</script>
		<script id="template-woman" type="x-tmpl-mustache">
			<a id="{{ id }}" class="{{#sick}}disabled{{/sick}}{{#state}} disabled{{/state}}">{{ name }} ({{ health }} hp) {{^state}} (idle){{/state}}{{#state}} ({{ state }}){{/state}}{{#sick}} (incapacitated){{/sick}} {{#in_labor}} (in labor){{/in_labor}}</a>
		</script>
		<script id="template-child" type="x-tmpl-mustache">
			<a id="{{ id }}" class="{{#sick}}disabled{{/sick}}{{#state}} disabled{{/state}}">{{ name }} ({{ health }} hp) {{^state}} (idle){{/state}}{{#state}} ({{ state }}){{/state}}{{#sick}} (incapacitated){{/sick}} {{#water_pack}}(water pack){{/water_pack}}</a>
		</script>
		<script id="template-well" type="x-tmpl-mustache">
			<a id="{{ id }}">{{ name }} ({{ complete }}%) ({{ distance }} km) {{#contamination}}({{contamination}}% contaminated) {{/contamination}}{{#queue}}·{{/queue}}</a>
		</script>

		<script id="template-items-market" type="x-tmpl-mustache">
			{{#buy}}
				<a class="buy" item="{{ item }}">{{ display }} (-{{ cost }} kwacha)</a>
			{{/buy}}
			{{#sell}}
				<a class="sell" item="{{ item }}">{{ display }} (+{{ gain }} kwacha)</a>
			{{/sell}}
		</script>

		<script id="template-action-items" type="x-tmpl-mustache">
			{{#.}}
				<a action="{{ action }}"{{#select}} select="{{ select }}"{{/select}}>{{ display }}</a>
			{{/.}}
		</script>

		{% endraw %}
		<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='mustache.min.js') }}"></script>
		<script src="{{ url_for('static', filename='main.js') }}"></script>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
		<title>Achilles</title>
	</head>
	<body>
		<div id="container">
			<div id="events-scroll">
				<div id="events">
				</div>
			</div>
			<div id="horizontal-scroll">
				<div id="horizontal">
					<div class="panel level0">
						<div class="status" id="status-village">
							<div>
								<span id="time"></span>
								<img class="pie" src="{{ url_for('static', filename='clockhand.svg') }}" />
							</div>
							<span id="status-village-contents"></span>
						</div>
						<div class="items-scroll">
							<div class="items">
								<a id="button-villages">Neighbor villages</a>
								<a id="button-men">Men</a>
								<a id="button-women">Women</a>
								<a id="button-children">Children</a>
								<a id="button-market">Market</a>
							</div>
						</div>
					</div>
					<div id="man" class="panel level1">
						<div class="status">
							<a class="left back village-name"></a>
							Men
							<a id="actions-man-next" class="right next disabled">Tasks</a>
						</div>
						<div class="items-scroll">
							<div class="items">
								<a class="select-all">(Select all)</a>
							</div>
						</div>
					</div>
					<div id="woman" class="panel level1">
						<div class="status">
							<a class="left back village-name"></a>
							Women
							<a id="actions-woman-next" class="right next disabled">Tasks</a>
						</div>
						<div class="items-scroll">
							<div class="items">
								<a class="select-all">(Select all)</a>
							</div>
						</div>
					</div>
					<div id="child" class="panel level1">
						<div class="status">
							<a class="left back village-name"></a>
							Children
							<a id="actions-child-next" class="right next disabled">Tasks</a>
						</div>
						<div class="items-scroll">
							<div class="items">
								<a class="select-all">(Select all)</a>
							</div>
						</div>
					</div>
					<div id="village" class="panel level1">
						<div class="status">
							<a class="left back village-name"></a>
							Neighbor villages
						</div>
						<div class="items-scroll">
							<div class="items">
							</div>
						</div>
					</div>
					<div id="market" class="panel level1">
						<div class="status">
							<a class="left back village-name"></a>
							Market
						</div>
						<div class="items-scroll">
							<div class="items">
							</div>
						</div>
					</div>
					<div id="well" class="panel level1">
						<div class="status">
							<a class="left back village-name"></a>
							Wells
						</div>
						<div class="items-scroll">
							<div class="items">
							</div>
						</div>
					</div>
					<div id="actions-village" class="actions panel level2">
						<div class="status">
							<a class="left back">Neighbor villages</a>
						</div>
						<div class="items-scroll">
							<div class="items">
							</div>
						</div>
					</div>
					<div id="actions-man" class="actions panel level2">
						<div class="status">
							<a class="left back">Men</a>
						</div>
						<div class="items-scroll">
							<div class="items">
							</div>
						</div>
					</div>
					<div id="actions-woman" class="actions panel level2">
						<div class="status">
							<a class="left back">Women</a>
						</div>
						<div class="items-scroll">
							<div class="items">
							</div>
						</div>
					</div>
					<div id="actions-child" class="actions panel level2">
						<div class="status">
							<a class="left back">Children</a>
						</div>
						<div class="items-scroll">
							<div class="items">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
